.sub_title_label {
                display: inline-block;
                padding: 5px;
                color: white;
                background-color:black;
          }

.li-inline {
    padding: 0;
    text-align: center
}

.li-inline>li {
    list-style-type: none;
    display: inline;
}

.li-inline>li>a {
    display: inline-block;
    padding: 6px 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.li-inline>li>a:hover{
    color: #fff;
    background: #111;
}

.description{
    width: 400px;
    padding: 50px;
    border: 30px;
    border: #111111;
    color: white;
    background-color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}