.title{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    background-color: #212529;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.github_tag {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    background-color: #212529;
    font-size: 15px;
    text-align: center;
}

.nav navbar-nav {
    list-style-type: none;
    display: inline;
    color: black;
    border: 1px solid white;
}

.nav-item {
    display: inline-block;
    padding: 6px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

